@font-face {
  font-family: SFMonoLight;
  font-style: normal;
  src: url("../src/fonts/SFMonoLight.otf");
}
@font-face {
  font-family: SFMonoRegular;
  font-style: normal;
  src: url('../src/fonts/SFMonoRegular.otf');
}
@font-face {
  font-family: SFMonoRegularItalic;
  font-style: italic;
  src: url('../src/fonts/SFMonoRegularItalic.otf');
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'SFMonoLight';
  color: white;

}

body, html, #root{
  margin: 0;
  background-color: #380F13;
}


h1{
  font-size: 38px;
  margin-bottom: 25px;
}

h2{
  font-size: 32px;
}

h3{
  font-size:20px;
}

p{
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
    h1{
      font-size: 32px;
    }
    h2{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
}

@media screen and (min-width: 1500px){
  #home_body{
    width: 1450px;
    margin: auto;
  }
}