.section, .cards img{
    margin-top: 10rem;
}

.card-cntnr{
    margin-top: 65px;
    right:0;
    margin-right: 60px;
    z-index: 100;
    width: 95%;
    height: fit-content;
    box-sizing: border-box;
}

.cards{
    display:flex;
    margin-top:0;
    width:100%;
}

.cards img{
    margin-top:0;
    margin-left: 5%;
    margin-bottom: 100px;
    width: 300px;
}

.card-cntnr h2{
    margin-bottom: 40px;
}

@media screen and (max-width:1160px) {
    .cards img{
        display: none;
    }
    
    .card-cntnr{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 1500px){
    .cards{
      width: 1450px;
      margin: auto;
    }
}