section, .cards img{
    margin-top: 10rem;
}

.card-cntnr{
    float:right;
    position: relative;
    margin-right: 60px;
    z-index: 100;
    width: 63%;
    height: fit-content;
}
.cards{
    margin-top:0;
}

.cards img{
    position: relative;
    margin-top:0;
    margin-left: 5%;
    margin-bottom: 100px;
    width: 300px;
}

h2{
    margin-bottom: 40px;
}

section p, section h2{
    margin-left: 6%;
    margin-bottom: 10px;
}

section {
    height: fit-content;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 35px;
    background-color: #121212;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

section:nth-child(odd){
    margin-right: 60px;
}
section:nth-child(even){
    margin-left: 60px
}
.news-btn{
    height: 30px;
    margin-left: 6%;
    padding: 7px 60px;
    background-color: #000000;
    text-decoration: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid white;
}
.news-btn:hover{
    background-color: #252525;
    transform: translateY(0);
    transition: all 0.5s ease;
}
.news-btn:active{
    transform: translateY(3px) !important;
    transition: 0.5s ease !important;
}

@media screen and (max-width:1160px) {
    .cards img{
        position: absolute;
        height:auto;
        z-index: -1;
    }
    section{
        margin-right: 0;
    }
    .card-cntnr{
        margin-right: 5%;
        margin-bottom: 100px;
    }
    
}