
.mail-cntnr h1{
    margin-top: 100px;
    margin-left: 6%;
}
.postaloffice-cntnr{
    width: 57%;
    height: 500px;
    background-color: var(--secondary);
    padding: 50px;
    margin-left: 50px;
}
.mailbox-cntnr{
    margin-left: 50px;
    padding: 50px;
    background-color: var(--secondary);
    width:  57%;
} 
@media screen and (min-width: 1500px){
    .mail-cntnr{
        width: 1450px;
        margin: auto;
        margin-top: 100px;
    }
}