.navbar, .navbar-container, .navbar-item{
    background-color: #000000;
    height: 65px;
    top:0;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 999;
}
.navbar-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    justify-content: end;
}
.navbar-logo, .nav-links{
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}
.navbar-logo{
    margin-right:80px;
}
.navbar{
    position: sticky;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links-mobile, .menu-icon{
    display: none;
}


