.news-cntnr{  
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top:100px;
  margin-bottom: 100px;

}
.news-wrapper{
  background-color: var(--secondary);
  padding-bottom: 100px;
  padding-top: 50px;
  width: 600px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 600px;
}