
.signup-cntnr, .signin-cntnr{
    background-color: black;
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.title-cntnr{
    padding-top: 100px;
    text-align: center;
}
.title-cntnr h1, .title-cntnr p{
    margin:0;
}
input{
    text-align: center;
    margin: auto;
    width: 200px;
    height: 20px;
    text-decoration: none;
    margin-top: 20px;
    color:black;
}
span{
    font-size: 12px;

}

.submit-btn{
    
}