#storage{
    width: 100%;
}
.storage-cntnr{
    margin-top: 100px;
    
}
.content-cntnr{
    display: flex;
}
.storagetitle-cntnr{
    margin-left: 6%;
}
.files-cntnr{
    width: 57%;
    background-color: var(--secondary);
    height: fit-content;
    padding: 50px;
    margin-left: 50px;
}
.control-panel{
    justify-content: center;
    text-align: center;
    position: absolute;
    right:0px;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    background-color: var(--secondary);
    padding: 20px;
    margin-right: 20px;
}
.progressbar{
    margin-top: 250px;
    right: 0;
    font-size: 80px;
    background-color: #d55252;
    color: #000000;
    position: absolute;
    z-index: 1000;
    text-align: center;
    height: fit-content;
    padding: 0 20px;
    border-right: 200px solid #d55252;
    box-shadow: rgba(37, 38, 39, 0.3) 0px 1px 2px 0px, rgba(82, 83, 85, 0.15) 0px 2px 6px 2px;
}
table{
    display: flex;
    flex-direction: column;
}
tbody{
    font-size: 14px;
    padding-bottom: 15px;
    width: 100%;
}
thead{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px solid white;
    text-align: left;
}
th:first-of-type, td:first-of-type{
    width: 25px;
}
td{
    border-bottom: 1px solid #252525;
    cursor: pointer;
}
td:first-child{
    border-bottom: none;
}
td, th{
    padding: 10px 30px 10px 0px;
    width: 150px;
}
td:last-child{
    padding: 10px 0px 7px 0px;
    text-align: right;
}