.footer-distributed{
    height:  fit-content;
    justify-content: center;
    width: 70%;
    margin:auto;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: center;
    padding-top: 40px;
}
.footer-cntnr{
    background-color: #000000;
}


.footer-right{ justify-content: center;
    display: inline-grid;
    grid-template-columns: repeat(2, 50px);
    gap: 20px;
}


.footer-right i{
    color: white;
}
.footer-right a{
    text-decoration: none;
    
}
.footer-centered{

}