.news-cntnr{  
  align-items: center;
  justify-content: center;
  margin-top:100px;
  margin-bottom: 100px;

}
.news-wrapper{
  background-color: var(--secondary);
  padding-bottom: 100px;
  padding-top: 50px;
  width: 600px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: fit-content;
}
.news-item{
  border-bottom: 2px dashed var(--smallText);
  margin-bottom: 20px;
}

.small{
  font-size: 12px;
  padding-left: 15px;
  padding-top: 3px;
  color: var(--smallText);
}
.body{
  padding-left: 15px;
  color: var(--bodyText);
}